extends ../layout/index

block main
  block form
    form(action="/registro" class="formularioLogin" method='POST')
      div 
        label(for="nombre") Nombre
        input( id="nombre" type="text" name='nombre')  
      div 
        label(for="correo") Correo
        input( id="correo" type="email" name='correo')  
      div 
        label(for="contrasena") Contraseña
        input( id="contrasena" type="password" name='contrasena')  
      div 
        label(for="ccontrasena") Confirmar Contraseña
        input( id="ccontrasena" type="password" name='ccontrasena')  
      div 
        input( id="iniciar" type="submit" value="Iniciar Sesión")
      div(class="enlaces")
        a(href="login") 
          span ¿Ya tiene cuenta?
        a(href="recuperar") 
          span ¿olvidó su contraseña?